<div class="footer">
    <div class="copyright" style="float: left;">Copyright ©2018 mifitec All Rights Reserved</div>
    <div style="float: right; margin-right: 10px;">
        <input type="text" value="60" style="width: 35px;" id="autoRefreshVal" onchange="autoRefresh()">&nbsp;秒后自动刷新&nbsp;
        <input type="checkbox" id="autoRefresh" class="chooseBtn" onchange="autoRefresh()"/>
        <label for="autoRefresh" class="choose-label"></label>
    </div>
</div>
{include file="common/bottom" /}