{include file="common/top" /}
<link rel="stylesheet" href="{$Think.server.REQUEST_SCHEME}://{$Think.server.HTTP_HOST}/admin/css/font.css">
<link rel="stylesheet" href="{$Think.server.REQUEST_SCHEME}://{$Think.server.HTTP_HOST}/admin/css/xadmin.css?v=1.0.3">
<script type="text/javascript" src="{$Think.server.REQUEST_SCHEME}://{$Think.server.HTTP_HOST}/admin/js/jquery.min.js"></script>
<script type="text/javascript" src="{$Think.server.REQUEST_SCHEME}://{$Think.server.HTTP_HOST}/admin/lib/layui/layui.js" charset="utf-8"></script>
<script type="text/javascript" src="{$Think.server.REQUEST_SCHEME}://{$Think.server.HTTP_HOST}/admin/js/xadmin.js"></script>
<script type="text/javascript" src="{$Think.server.REQUEST_SCHEME}://{$Think.server.HTTP_HOST}/admin/js/upload.js"></script>
<!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
<!--[if lt IE 9]>
<script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
<script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
<!--覆盖样式-->
<link rel="stylesheet" href="{$Think.server.REQUEST_SCHEME}://{$Think.server.HTTP_HOST}/admin/css/cover-layui.css">
</head>
<body>