<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>管理系统</title>
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />

    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="../static/admin/css/font.css">
    <link rel="stylesheet" href="../static/admin/css/xadmin.css">
    <script type="text/javascript" src="../static/admin/js/jquery.min.js"></script>
    <script type="text/javascript" src="../static/admin/lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="../static/admin/js/xadmin.js"></script>

</head>
<body>
<!-- 顶部开始 -->
<div class="container">
    <div class="logo">
        <a href="/admin/index.html"><!--<img style="width: 40px;height: 40px; margin-left: 10px;" src="../static/admin/images/logo.png" />-->管理系统</a>

    </div>
    <div class="left_open">
        <i title="展开左侧栏" class="iconfont">&#xe699;</i>
    </div>
    <!--<?php //"cashLog.cashloglist" 这里的权限key全部要用小写?>-->
    <ul class="layui-nav left fast-add" id="top-menu" lay-filter="">
        <!--<li class="layui-nav-item">-->
            <!--<a href="javascript:;" _href=""><cite>刷新列表</cite></a>-->
        <!--</li>-->
    </ul>
    <ul class="layui-nav right" lay-filter="">
        <!--<li class="layui-nav-item to-index">-->

        <!--</li>-->
        <li class="layui-nav-item">
            <a href="javascript:;">{$adminInfo['username']}</a>
            <dl class="layui-nav-child"> <!-- 二级菜单 -->
                <dd style="cursor: pointer;"><a onclick="x_admin_show('个人信息','{:Url(\'Index/userInfo\')}', 750, 500)">个人信息</a></dd>
                <dd style="cursor: pointer;"><a onclick="refresh();">刷新权限</a></dd>
                <dd style="cursor: pointer;"><a href="{:Url('Index/logOut')}">退出</a></dd>
            </dl>
        </li>
    </ul>

</div>
<!-- 顶部结束 -->
<!-- 中部开始 -->
<!-- 左侧菜单开始 -->
{include file="common/admin/menu" /}
<!-- 左侧菜单结束 -->
<!-- 右侧主体开始 -->
<div class="page-content">
    <div class="layui-tab tab" lay-filter="xbs_tab" lay-allowclose="false">
        <ul class="layui-tab-title">
            <li>总揽</li>
        </ul>
        <ul class="right-menu">
            <li class="refresh refreshThis"><i class="layui-icon">&#x1002;</i>刷新当前</li>
            <li data-type="closeOther">关闭其他</li>
            <li data-type="closeAll"><!--<i class="layui-icon">&#x1006;</i>-->关闭所有</li>
            <li data-type="closeThis">关闭当前</li>
        </ul>
        <div class="layui-tab-content child-frame">
            <div class="layui-tab-item layui-show">
                <iframe src="{:Url('Admin/main')}" tab-id="1" frameborder="0" scrolling="yes" class="x-iframe"></iframe>
            </div>
        </div>
    </div>
</div>
<div class="page-content-bg"></div>
<!-- 右侧主体结束 -->
<!-- 中部结束 -->
<!-- 底部开始 -->

{include file="common/footer" /}
<!-- 底部结束 -->
<script>
    var obj = {};
    //刷新权限
    function refresh(){
        $.ajax({
            type: "POST",
            dataType:'json',
            cache: false,
            data: {},
            url: "{:Url('Index/refresh')}",
            success: function(result) {
                if (result != null) {
                    if (result && result.errcode == 0) {
                        location.href = "/admin/index/index"
                    }else{
                        layer.msg(result.errmsg);
                    }
                }
            }
        });
    }

    //刷新sub_iframe
    function refreshIframe(){
        var sub_iframe = $('.layui-show .x-iframe');
        var url = arguments[0] || sub_iframe.attr('src');
        try{
            sub_iframe[0].contentWindow.refreshSelf();
        }catch (e){
            sub_iframe.attr('src', url);
        }
        //console.log(sub_iframe);
    }
    //自动刷新
    var iidex = 0;
    function autoRefresh() {
        if(iidex>0){
            clearInterval(iidex);
        }
        var autoRefresh = $('#autoRefresh').is(':checked');
        if(autoRefresh){
            var autoRefreshVal = parseInt($('#autoRefreshVal').val());
            if(autoRefreshVal>0){
                iidex = setInterval(function () {
                    refreshIframe();
                }, autoRefreshVal * 1000);
            }
        }
    }

    //打开新的标签页
    function openTab(url, title) {
        for (var i = 0; i < $('.x-iframe').length; i++) {
            if ($('.x-iframe').eq(i).attr('src') == url) {
                var tab_id = $('.x-iframe').eq(i).attr('tab-id');
                tabObject.tabChange(tab_id);
                refreshIframe();
                return;
            }
        }
        var index = $('.x-iframe').length;
        tabObject.tabAdd(title, url, index + 1);
        tabObject.tabChange(index + 1);
    }

    //关闭标签页
    function closeTab(url) {
        console.log(url);
        for (var i = 0; i < $('.x-iframe').length; i++) {
            if ($('.x-iframe').eq(i).attr('src') == url) {
                var tab_id = $('.x-iframe').eq(i).attr('tab-id');
                tabObject.tabDelete(tab_id);
                return;
            }
        }
    }

</script>