{include file="common/header" /}
<link href="../static/index/css/bootstrap.min.css" rel="stylesheet">
<link href="../static/index/css/font-awesome.min.css" rel="stylesheet">
<link href="../static/index/css/weixin.css" rel="stylesheet">
<header class="demos-header">
    <h1 class="demos-title">欢迎你，{$userInfo.name}</h1>
</header>
<style type="text/css">
    .form-control {
        border: 1px solid #2f9353;
        float: left;
    }

</style>
<body>
<div style="margin: 35px 25px; background: #fff; border: 1px solid #999; border-radius: 10px; opacity: 0.8; overflow: hidden; padding: 25px 5px;">
    <div class="col-xs-6">
        <a href="{:url('Index/postReport')}" class="btn-success btn form-control" style="margin-top: 10px; height: 35px; background-color: #227654; border-radius: 10px; float:right;" type="button">受检者信息采集</a>
        <a class="btn-success btn form-control" style="margin-top: 10px; height: 35px; background-color: #227654; border-radius: 10px; float:left;" type="button">报告查询</a>

    </div>
</div>


{include file="common/footer" /}