{include file="common/header" /}
<body ontouchstart>

<form id="form1" style="margin: 1px">
    <div class="weui-cells weui-cells_form">
        <div class="weui-cell">
            <div class="weui-cell__hd">
                <label class="weui-label">手机号码:</label>
            </div>
            <div class="weui-cell__bd">
                <input id="mobile" class="weui-input" type="tel" placeholder="请输入手机号码" datacol="yes" err="手机号码" checkexpession="WxNull">
            </div>
            <div class="weui-cell__ft">
                <i class="weui-icon-warn"></i>
            </div>
        </div>
        <div class="weui-cell">
            <div class="weui-cell__hd">
                <label class="weui-label">验证码:</label>
            </div>
            <div class="weui-cell__bd">
                <input id="identifier_code" class="weui-input" type="text" placeholder="请输入验证码" datacol="yes" err="验证码">
            </div>
            <div class="weui-cell__ft">
                <a class="weui-vcode-btn" id="Code" href="javascript:void(0)" onclick="SendSms()">获取验证码</a>
            </div>
        </div>
        <div class="weui-cell">
            <div class="weui-cell__hd"><label class="weui-label">密码:</label></div>
            <div class="weui-cell__bd">
                <input id="password" class="weui-input" type="password" placeholder="请输入密码" datacol="yes" err="密码" checkexpession="WxNull">
            </div>
            <div class="weui-cell__ft">
                <img id="eyeclose" src="../static/index/images/eye_close.png" style="width:25px;height:18px" alt="不显示密码" />
                <img id="eyeopen" src="../static/index/images/eye_open.png" style="display:none;width:25px;height:18px" alt="显示密码" />
            </div>
            <div class="weui-cell__ft">
                <i class="weui-icon-warn"></i>
            </div>
        </div>
        <div class="weui-cells__title">密码长度不小于6位（支持数字、大小写字母）</div>
        <div class="weui-cell">
            <div class="weui-cell__hd">
                <label class="weui-label">确认密码:</label>
            </div>
            <div class="weui-cell__bd">
                <input id="password2" class="weui-input" type="password" placeholder="请输入确认密码" datacol="yes" err="确认密码" checkexpession="WxNull">
            </div>
            <div class="weui-cell__ft">
                <i class="weui-icon-warn"></i>
            </div>
        </div>
    </div>
</form>
<div id="lodimg" class="weui-loadmore" style="display:none">
    <i class="weui-loading"></i>
    <span class="weui-loadmore__tips">正在提交</span>
</div>
<div class="weui-btn-area">
    <a class="weui-btn weui-btn_primary" href="javascript:" onclick="AcceptClick()">提交</a>
</div>

<script>
    var randCode = "";
    $(function () {
        //密码验证
        $("#password").on("blur", function () {
            if (!/^[0-9a-zA-Z_]{6,15}$/.test($(this).val())) {
                $.toptip("请输入6位以上的密码", "error");
                //$(this).focus();
                return false;
            }
        })
        //确认密码
        $("#password2").on("blur", function () {
            if ($("#password").val() != $("#password2").val()) {
                $.toptip("两次输入的密码不匹配，请重新输入", "error");
                // $("#passwordConfirm").focus();
                return false;
            }
        })

        //显示密码
        $("#eyeclose").click(function () {
            $(this).css("display", "none");
            $("#eyeopen").css("display", "");
            $("#password").attr("type", "text");
        });
        //不显示密码
        $("#eyeopen").click(function () {
            $(this).css("display", "none");
            $("#eyeclose").css("display", "");
            $("#password").attr("type", "password");
        });

    });
    // 验证手机号
    function isPhoneNo(phone) {
        var regExp = new RegExp("^1[34578]\\d{9}$");
        return regExp.test(phone)
    }
    //发送手机短信验证码
    var sending = false;
    function SendSms() {
        if( sending ){
            return false;
        }
        sending = true;
        var mobile = $("#mobile").val();
        if (!isPhoneNo(mobile)) {
            $.toptip("请输入正确的手机号码", "error");
            sending = false;
            return false
        }
        $.ajax({
            type: "POST",
            dataType:'json',
            cache: false,
            data: {
                'mobile':mobile
            },
            url: "{:Url('Index/sendVerifyCode')}",
            success: function(result) {
                if (result != null) {
                    if (result && result.errcode == 0) {
                        $.toptip("发送成功，验证码为："+result.data.code+"", 10000, "success");
                        var cutdown = 60;
                        var idex = setInterval(function () {
                            if( cutdown<=0 ){
                                clearInterval(idex);
                                $('#Code').html('获取验证码');
                                sending = false;
                            }else{
                                $('#Code').html('倒计时: '+cutdown);
                                cutdown--;
                            }
                        }, 1000);

                    }else{
                        $.toptip(result.errmsg, "error");
                        sending = false;
                    }
                }
            }
        });
    }
    //保存事件
    function AcceptClick() {
        if (!CheckDataValid('#form1')) {
            return false;
        }
        var postData = GetWebControls("#form1");
        if (!isPhoneNo(postData.mobile)) {
            $.toptip("请输入正确的手机号码", "error");
            return false
        }
        if (!IsNullOrEmpty(postData.identifier_code)) {
            $.toptip("请输入验证码！", "error");
            $("#identifier_code").focus();
            return false
        }

        if (postData.password !=postData.password2) {
            $.toptip("两次输入的密码不匹配，请重新输入", "error");
            $("#passwordConfirm").focus();
            return false;
        }
        $.ajax({
            type: "POST",
            dataType:'json',
            cache: false,
            data: GetWebControls("#form1"),
            url: "{:Url('Index/passwordReset')}",
            success: function(result) {
                if (result != null) {
                    if (result && result.errcode == 0) {
                        $.toast("操作成功！", function() {
                            location.href = "{:Url('Index/login')}";
                        });
                    }else{
                        $.toptip(result.errmsg, "error");
                    }
                }
            }
        });
    }
</script>
{include file="common/footer" /}