{include file="common/header" /}
<link href="../static/index/css/bootstrap.min.css" rel="stylesheet">
<link href="../static/index/css/font-awesome.min.css" rel="stylesheet">
<link href="../static/index/css/weixin.css" rel="stylesheet">
<style type="text/css">
    .form-control {
        border: 1px solid #2f9353;
        float: left;
    }

</style>
<body>

<div style="margin: 35px 25px; background: #fff; border: 1px solid #999; border-radius: 10px; opacity: 0.8; overflow: hidden; padding: 25px 5px;">
    <div class="nav nav-tabs">
        <label class="col-xs-12 control-label" style="color: #006633; font-size: 16px;">
            血样编号：  202205452
        </label>
    </div>
    <div class="nav nav-tabs">
        <label class="col-xs-12 control-label" style="color: #000000; font-size: 14px;">
            客户姓名：  张三
        </label>
    </div>
    <div class="nav nav-tabs">
        <label class="col-xs-12 control-label" style="color: #000000; font-size: 14px;">
            手机号码：  138000011111
        </label>
    </div>

    <div class="nav nav-tabs">
        <label class="col-xs-12 control-label" style="color: #000000; font-size: 14px;">
            送检单位：  福建迈新医学检验所有限公司
        </label>
    </div>
    <div class="nav nav-tabs">
        <label class="col-xs-12 control-label" style="color: #000000; font-size: 14px;">
            样本接收时间：  2022-07-28
        </label>
    </div>
    <div class="nav nav-tabs">
        <label class="col-xs-12 control-label" style="color: #000000; font-size: 14px;">
            报告上传时间：   2022-08-02
        </label>
    </div>
    <div class="nav nav-tabs">
        <label class="col-xs-12 control-label" style="color: #000000; font-size: 14px;">
            检测进度：  报告已上传
        </label>
    </div>
    <div class="col-xs-6">
        <button class="btn-success btn form-control" style="margin-top: 10px; height: 35px; background-color: #227654; border-radius: 10px; float:right;" type="button">查看报告</button>	<button class="btn-success btn form-control" style="margin-top: 10px; height: 35px; background-color: #227654; border-radius: 10px; float:left;" type="button">申请发票</button>

    </div>
</div>

<div style="margin: 35px 25px; background: #fff; border: 1px solid #999; border-radius: 10px; opacity: 0.8; overflow: hidden; padding: 25px 5px;">
    <div class="nav nav-tabs">
        <label class="col-xs-12 control-label" style="color: #006633; font-size: 16px;">
            血样编号：  202205452
        </label>
    </div>
    <div class="nav nav-tabs">
        <label class="col-xs-12 control-label" style="color: #000000; font-size: 14px;">
            客户姓名：  张三
        </label>
    </div>
    <div class="nav nav-tabs">
        <label class="col-xs-12 control-label" style="color: #000000; font-size: 14px;">
            手机号码：  138000011111
        </label>
    </div>

    <div class="nav nav-tabs">
        <label class="col-xs-12 control-label" style="color: #000000; font-size: 14px;">
            送检单位：  福建迈新医学检验所有限公司
        </label>
    </div>
    <div class="nav nav-tabs">
        <label class="col-xs-12 control-label" style="color: #000000; font-size: 14px;">
            样本接收时间：  2022-07-28
        </label>
    </div>
    <div class="nav nav-tabs">
        <label class="col-xs-12 control-label" style="color: #000000; font-size: 14px;">
            报告上传时间：   2022-08-02
        </label>
    </div>
    <div class="nav nav-tabs">
        <label class="col-xs-12 control-label" style="color: #000000; font-size: 14px;">
            检测进度：  报告已上传
        </label>
    </div>
    <div class="col-xs-6">
        <button class="btn-success btn form-control" style="margin-top: 10px; height: 35px; background-color: #227654; border-radius: 10px; float:right;" type="button">查看报告</button>	<button class="btn-success btn form-control" style="margin-top: 10px; height: 35px; background-color: #227654; border-radius: 10px; float:left;" type="button">申请发票</button>

    </div>
</div>

<div style="margin: 35px 25px; background: #fff; border: 1px solid #999; border-radius: 10px; opacity: 0.8; overflow: hidden; padding: 25px 5px;">
    <div class="nav nav-tabs">
        <label class="col-xs-12 control-label" style="color: #006633; font-size: 16px;">
            血样编号：  202205452
        </label>
    </div>
    <div class="nav nav-tabs">
        <label class="col-xs-12 control-label" style="color: #000000; font-size: 14px;">
            客户姓名：  张三
        </label>
    </div>
    <div class="nav nav-tabs">
        <label class="col-xs-12 control-label" style="color: #000000; font-size: 14px;">
            手机号码：  138000011111
        </label>
    </div>

    <div class="nav nav-tabs">
        <label class="col-xs-12 control-label" style="color: #000000; font-size: 14px;">
            送检单位：  福建迈新医学检验所有限公司
        </label>
    </div>
    <div class="nav nav-tabs">
        <label class="col-xs-12 control-label" style="color: #000000; font-size: 14px;">
            样本接收时间：  2022-07-28
        </label>
    </div>
    <div class="nav nav-tabs">
        <label class="col-xs-12 control-label" style="color: #000000; font-size: 14px;">
            报告上传时间：   2022-08-02
        </label>
    </div>
    <div class="nav nav-tabs">
        <label class="col-xs-12 control-label" style="color: #000000; font-size: 14px;">
            检测进度：  报告已上传
        </label>
    </div>
    <div class="col-xs-6">
        <button class="btn-success btn form-control" style="margin-top: 10px; height: 35px; background-color: #227654; border-radius: 10px; float:right;" type="button">查看报告</button>	<button class="btn-success btn form-control" style="margin-top: 10px; height: 35px; background-color: #227654; border-radius: 10px; float:left;" type="button">申请发票</button>

    </div>
</div>
{include file="common/footer" /}